<%= form_for([@post, @post.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :commenter, "Uw naam is?" %><br />
    <%= f.text_field :commenter %>
  </div>
  <div class="field">
    <%= f.label :body, "What's on your mind sweatheart?" %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit "Meum mundum creo" %>
  </div>
<% end %>
