<p id="notice"><%= notice %></p>
<h1><%= @story.title %></h1>
<p>
  <b>Achtergrond Story:</b>
  <%= @story.description %>
</p>

<p>
  <b>Image:</b>
  <center>
  <%= image_tag @story.image_url(:thumb).to_s %>
  </center>
</p>

<h2>Gevatte opmerkingen</h2>
<%= render @story.storycomments %>

<h3>Deel je intellectuele hoogstandje:</h3>
<%= render 'storycomments/form' %>

<br />


<%= link_to 'Eventjes wijzigen', edit_story_path(@story) %> |
<%= link_to 'Zuruck jawohl!', stories_path %>|<%= link_to 'Privacy Statement', stories_privacystatement_path %>
