<% content_for :head do %>
  <%= tag :meta, property: "fb:app_id", content: "477453758950604" %>
  <%= tag :meta, property: "og:site_name", content: "Talentjes" %>
  <%= tag :meta, property: "og:type", content: "talentjes:blog" %>
  <%= tag :meta, property: "og:title", content: @post.name %>
  <%= tag :meta, property: "og:url", content: post_url(@post) %>
  <%= tag :meta, property: "og:image", content: "https://s-static.ak.fbcdn.net/images/devsite/attachment_blank.png" %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Name:</b>
  <%= @post.name %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>
<hr />
<h2>Comments</h2>
<%= render @post.comments %>
<hr />

<h2>Add a comment:</h2>
<%= render "comments/form" %>


<%= link_to 'Eventjes wijzigen', edit_post_path(@post) %> |
<%= link_to 'Terug naar overzicht', posts_path %>
